.scroll {
    width: 600px;
    background: rgb(190, 219, 243);
    padding: 10px;
    overflow: scroll;
    height: 400px;

    /*script tambahan khusus untuk IE */
    scrollbar-face-color: #CE7E00;
    scrollbar-shadow-color: #FFFFFF;
    scrollbar-highlight-color: #6F4709;
    scrollbar-3dlight-color: #FFFFFF;
    scrollbar-darkshadow-color: #6F4709;
    scrollbar-track-color: #FFE8C1;
    scrollbar-arrow-color: #6F4709;
}

#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}